# Clerk Authentication (https://clerk.com)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z29yZ2VvdXMtc2hlZXBkb2ctMzkuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_i8xbHm5vu1klteEaa7oDoNjVu2Gu15Nd1F5aOX6bYP

# Stripe (https://stripe.com)
STRIPE_SECRET_KEY=sk_test_************
STRIPE_WEBHOOK_SECRET=whsec_************
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_************

# Convex (https://convex.dev)
NEXT_PUBLIC_CONVEX_URL=https://**********.convex.cloud
CONVEX_DEPLOYMENT=dev:upbeat-stoat-xxx
CONVEX_DEPLOY_KEY=upbeat-stoat-xxx

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000 # Change in production
